@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://use.typekit.net/rtl2nsi.css");

// === Bootstrap-Variablen ===
$font-family-base: "kollektif", sans-serif;
$headings-font-family: "gelica", sans-serif;

// === Custom Farben ===
$green-dark: #1d4d25;
$green-light: #d7ebd2;
$red: #d95341;
$light: #f5f8f6;
$baby-blue: #90a0d1;

// === Bootstrap Farbvariablen überschreiben ===
$body-bg: $green-light;
$primary: $green-dark;
$secondary: $red;
$success: $green-light;
$dark: $green-dark;

// === Button Styles ===
$btn-border-radius: 2rem;

// === Bootstrap SCSS Imports ===
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "kollektif";
  src: url("/assets/fonts/kollektif/KOLLEKTIF.TTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) invert(30%);
}

.navbar-brand {
  font-family: "gelica", sans-serif;
}
