@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://use.typekit.net/rtl2nsi.css");

// === Bootstrap-Variablen ===
$font-family-base: "kollektif", sans-serif;
$headings-font-family: "gelica", sans-serif;

// === Custom Farben ===
$green-dark: #1d4d25;
$green-light: #d7ebd2;
$red: #d95341;
$light: #f5f8f6;
$baby-blue: #90a0d1;

// === Bootstrap Farbvariablen überschreiben ===
$body-bg: $light;
$primary: $green-dark;
$secondary: $baby-blue;
$success: $green-light;
$dark: $green-dark;

// === Button Styles ===
$btn-bg: #fff;
$btn-color: $baby-blue;
$btn-border-color: $baby-blue;
$btn-border-radius: 2rem;
$btn-font-family: "gelica", sans-serif;

$btn-padding-y: 0.375rem;
$btn-padding-x: 1.75rem;

$btn-outline-color: $baby-blue;
$btn-outline-hover-bg: $baby-blue;
$btn-outline-hover-color: #fff;
$btn-outline-hover-border: $baby-blue;

// === Bootstrap SCSS Imports ===
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "kollektif";
  src: url("/assets/fonts/kollektif/KOLLEKTIF.TTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "gelica", sans-serif;
}

.btn {
  font-style: italic;
}

.navbar {
  border-bottom: 2px solid $green-dark;
}
body {
  overflow-x: hidden;
}

.intro {
  width: 100vw;
  overflow-x: hidden;
  margin-top: 80px;
  margin-bottom: 20px;
  background-image: url("/assets/icons/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .slogan {
    max-width: 70%;
    width: 100%;
    height: auto;
    display: block;
  }
}

.mission {
  width: 100vw;
  overflow-x: hidden;
  background-image: url("/assets/icons/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
